.code-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  background-color: #3b3b3b;
  position: relative;
  padding: 10px;
  height: 70vh;
}

.io-container {
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.output-wrapper {
  width: 100%;
  height: 45%;
  color: white;
}

.output-container {
  padding: 10px;
  background-color: #1a1a1a;
  height: 100%;
}

.input-container {
  width: 100%;
  height: 45%;
}

hr {
  border-color: rgba(255, 255, 255, 0.3);
}

label {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.2em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

label textarea {
  height: 100%;
  width: 100%;
  padding: 10px;
}

p {
  line-height: 1.5;
  color: white;
}

.nav {
  color: red;
  cursor: pointer;
}

.nav:hover {
  font-weight: 700;
}

textarea {
  border: none;
  tab-size: 40px;
  font-size: 1.2em;
  white-space: pre-line;
  padding-top: 7px;
  width: 100%;
}

textarea:focus-visible {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30vh;
  gap: 1vh;
  position: relative;
}

.dis-button {
  background-color: #3e3e3e;
}

.dis-button:hover {
  border: none;
}

form input {
  width: 100%;
  color: white;
  padding: 10px;
  font-size: 1.2em;
}

.error {
  color: red;
}

.output {
  color: white;
}