.code-container {
  width: 70%;
}

textarea {
  border: 1px solid black;
  tab-size: 40px;
  font-size: 1.2em;
  white-space: pre-line;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1vh;
}

.dis-button {
  background-color: #3e3e3e;
}

.dis-button:hover {
  border: none;
}

form input {
  width: 100%;
  color: white;
  padding: 10px;
  font-size: 1.2em;
}

.error {
  color: red;
}